$serif: "마루 부리", "MaruBuri", Georgia, Times, serif;
$sans-serif: "NanumSquareRound", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace: "D2 coding", Monaco, Consolas, "Lucida Console", monospace;
$header-font-family: "NanumSquare", $sans-serif;

$x-large: 1366px;
$max-width: 1600px;
