/* ==========================================================================
   SCSS Variables
   ========================================================================== */

/* 
   Page
   ========================================================================== */

$feature-image-height            : 400px; // min 150px recommended
$front-page-feature-image-height : 400px; // min 150px recommended

/* 
   Typography
   ========================================================================== */

$base-font                       : 'NanumSquareRound', 'Lato', Calibri, Arial, sans-serif;
$heading-font                    : 'NanumSquare';
$caption-font                    : $base-font;
$code-font                       : 'Nanum Gothic Coding', monospace;
$alt-font                        : serif;

$doc-font-size                   : 16;
$doc-line-height                 : 26;


// set-up the body font-size / line-height
body {
  margin-top: 0px + $doc-line-height;
  font-size: 0px + $doc-font-size;
}

/* 
   Colors
   ========================================================================== */

$base-color                      : rgba(#222,0.8);
$body-color                      : #e8e8e8;
$text-color                      : rgba(#222,0.8);
$comp-color                      : complement(#222);
$border-color                    : lighten($base-color,60);
$link-color                      : rgba(#222,0.8);

$primary                         : #222;
$success                         : #5cb85c;
$warning                         : #dd8338;
$danger                          : #C64537;
$info                            : #308cbc;


/* 
   Screen sizes
   ========================================================================== */

$small                           : "only screen and (min-width: 30em)";
$medium                          : "only screen and (min-width: 48em)";
$large                           : "only screen and (min-width: 62.5em)";


/* 
   User Custom (TOC)
   ========================================================================== */

.sidebar__right {
   display: block;
   position: sticky;
   top: 0;
   right: 0;
   width: 200px;
   margin-right: -200px;
   /* padding-left: 1em; */
   z-index: 10;
   clear: both;
   position: -webkit-sticky;
   top: 2em;
   float: right;
 }
 
 .toc {
   background-color: #ffffff;
   border: 1px solid #b6b6b6;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.125);
   box-shadow: 0 1px 1px rgba(0,0,0,0.125);
   width: 100%;
   font-size: .75em;
   ul {
     margin: 0;
     padding: 4px;
     list-style: none;
   }
   li {
     padding: 0px 10px;
   }
 }